.contact, .contact span {
    color: white;
}
.contact h1 {
    color: black;
    text-align: center;
}
.first-box {
    padding:10px;background:rgba(255, 142, 16, 0.82);
}
.second-box {
    padding:10px; background:rgba(0, 50, 172, 0.79);
}
.third-box {
    padding:10px;background:rgba(255, 142, 16, 0.82);
}
.fourth-box{
    padding:10px;background:rgba(0, 50, 172, 0.79);
}