@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
    font-family: Avenir;
    src: url("/resources/fonts/avenir.ttf");
}

.footer-hr {
    height: 4px;
    color: #0032ac;
    border: none;
    background-color: #0032ac
}