.team-pic {
    width: 150px;
    margin-bottom: 10px;
}

.heading-title {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.heading-title h2 {
    margin-bottom: 0;
    /*letter-spacing: 2px;*/
    font-weight: bold;
}

.subheading {
    font-weight: bold;
    margin-bottom: 10px;
}

.team-member {
    margin-bottom: 25px;
    padding: 10px;
    background-color: #ffc27f;
}
.team-member p {
    height: 300px;
    overflow-y: scroll;
    /*font-size: 0.9em;*/
    padding: 10px;
    margin-bottom: 0px;
    background-color: #ffffff;
}

.member-name {
    font-weight: bold;
}

.team-title {
    font-style: italic;
    color: #0032ac;
}