@font-face {
    font-family: Avenir;
    src: url("/resources/fonts/avenir.ttf");
}

/** MAIN CONTENT**/
.featured-article {
    background-color: red;
}

/** SIDEBAR **/
.sidebar {
    border-left: 5px solid #0032ac;
    margin-top: 30px;
}

.connect-with-us {
    padding: 0 20px;
}

.connect-with-us h1 {
    font-family: 'Avenir', sans-serif;
    font-size: 30px;
    margin-top: -20px;
    text-align: center;
}

.facebook .fa-circle {
    color: #3A5A9B; 
}

.facebook span {
    left: 40%;
}

.instagram .fa-circle {
    color: #755339; 
}

.instagram span {
  left: 10%;
}

.twitter .fa-circle {
    color: #76A9D4; 
}

.twitter span {
    right: 20%; 
}

.news {
    margin-top: 15px;
    text-align: center;
}

.news h1 {
    color: #373F48;
    font-family: 'Avenir', sans-serif;
    font-size: 30px;
}

.news-list {
    margin: 10px 0;
}

.news-list p, .news-list a {
    color: #373F48;
    display: block;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.news-list a {
    text-decoration: underline;
}

.news-list a:hover {
    color: #129DC3;
}