@font-face {
    font-family: "Avenir";
    src:  url("../fonts/avenir.ttf") format('truetype'),
      url('../fonts/avenir.woff2') format('woff2'),
      url("../fonts/avenir.woff") format('woff');
}

/*body {
    font-family: Lato;
    font-size: 16px;
}*/

/** MAIN CONTENT**/
.featured-article {
    color: #fff;
}
#carousel-custom {
    margin: 20px auto;
    width: 90%;
}
#carousel-custom .carousel-outer {
    height: 330px;
    position: relative;
}
#carousel-custom .carousel-inner {
    height: 350px;
}
#carousel-custom .carousel-inner>.item>img {
    width: 1000px;
    height: 330px;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    bottom: 350px;
    float: left;
    margin-left: 5px;
}
.carousel-caption p {
    color: #fff;
    font-size: 24px;
}
.carousel-indicators {
    bottom: 5px;
}
.content-container {
    margin-bottom: 50px;
    font-family: Lato;
    font-size: 1.5em;
}
.indent {
    padding-left: 40px;
}
@media (max-width: 768px) {
    .content-container {
        margin-left: 30px;
        margin-right: 30px;
    }
    .content-img {
        display: block;
        margin: auto;
        width: 100%;
    }
    .content-img-small {
        display: block;
        margin: auto;
        width: 80%;
    }
    .map-embed {
        height: 300px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .content-container {
        margin-left: 70px;
        margin-right: 70px;
    }
    .content-img {
        display: block;
        margin: auto;
        width: 100%;
    }
    .content-img-small {
        display: block;
        margin: auto;
        height: 300px;
    }
    .map-embed {
        height: 400px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .content-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .content-img {
        display: block;
        margin: auto;
        width: 800px;
    }
    .content-img-small {
        display: block;
        margin: auto;
        height: 300px;
    }
    .map-embed {
        height: 500px;
    }
}
@media (min-width: 1170px) {
    .content-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .content-img {
        display: block;
        margin: auto;
        width: 800px;
    }
    .content-img-small {
        display: block;
        margin: auto;
        height: 300px;
    }
    .map-embed {
        height: 600px;
    }
}
#thumbnail-title {
    font-size: 24px;
    font-weight: bold;
    margin: -50px 0 100px 0;
}
#p-title{
    margin-top: -70px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}
.outline {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.carousel-control.right, .carousel-control.left {
    background-image: none; 
}

/** MEDIA SLIDER **/
.article-grid {
  margin-top: 40px;
}
.article-grid img{
    width: 280px;
    height: 175px
}
.article-title {
    color: #373F48;
    display: block;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    white-space: nowrap;
}


/** SIDEBAR **/
.sidebar {
    border-left: 5px solid #0032ac;
    margin-top: 30px;
}

.connect-with-us {
    padding: 0 20px;
}

.connect-with-us h1 {
    font-family: 'Avenir', sans-serif;
    font-size: 30px;
    margin-top: -20px;
    text-align: center;
}

.connect-with-us .facebook a {
    color: #3A5A9B; 
}

.connect-with-us .facebook a:hover {
    color: #456dbe;
}

.connect-with-us .facebook span {
    left: 40%;
}

.connect-with-us .vimeo a {
    color: #755339; 
}

.connect-with-us .vimeo a:hover {
  color: #1ab7ea;
}

.connect-with-us .vimeo span {
    left: 10%;
}

.connect-with-us .flickr a {
    color: #76A9D4; 
}

.connect-with-us .flickr a:hover {
    color: #0063dc; 
}

.connect-with-us .flickr span {
    right: 20%; 
}

.news {
    margin-top: 15px;
    text-align: center;
}

.news h1 {
    color: #373F48;
    font-family: 'Avenir', sans-serif;
    font-size: 30px;
}

.news-list {
    margin: 10px 0;
}

.news-list p, .news-list a {
    color: #373F48;
    display: block;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.news-list a {
    text-decoration: underline;
}

.news-list a:hover {
    color: #129DC3;
}

.tag-type {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    /*padding: 5px;
    border-radius: 5px;*/
}

.tag-education a {
    /*border: 1px solid #ffd966;*/
    color: #f9d464;
}
.tag-environmental-justice a {
    /*border: 1px solid #6aa84f;*/
    color: #6aa84f;
}
.tag-public-health a {
    /*border: 1px solid #e06666;*/
    color: #e06666;
}
.tag-socio-ethnic a {
    /*border: 1px solid #ff9900;*/
    color: #ff9900;
}
.tag-urban-planning a {
    /*border: 1px solid #6fa8dc;*/
    color: #6fa8dc;
}