@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
    font-family: "Avenir";
    src:  url("../fonts/avenir.ttf") format('truetype'),
      url('../fonts/avenir.woff2') format('woff2'),
      url("../fonts/avenir.woff") format('woff');
}

#flipkart-navbar {
    background-color: #FFFFFF;
    color: black;
    letter-spacing: 0.5px;
}

.block ul {
    display: block;
    text-align: right;
    width: 100%;
}

.container {
    width: 100%;
}

#nav-logo {
    width: 200px;
}

#nav-h1 {
    margin-top: 0px; 
}

#nav-ihpsd {
    margin: -15px 0 0 80px;
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
}

.corner-links {
    margin-top: 5px;
}

.row1 {
    margin: 20px 30px;
}

.row1 p {
    padding: 20px 40px 0 0;
    font-family: 'Avenir', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.row1 li {
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: 'Avenir', sans-serif;
    display: inline-block;
}

.corner-links ul:nth-child(1) {
    margin-bottom: 0;
}

.corner-links ul:nth-child(2) {
    padding-right: 50px;
}

.row1 ul {
    display: block;
}

.row2 {
    padding-bottom: 10px;
    background: -moz-linear-gradient(270deg, rgba(237,235,235,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,235,235,1)), color-stop(79%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(270deg, rgba(237,235,235,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%); 
    background: -o-linear-gradient(270deg, rgba(237,235,235,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%); 
    background: -ms-linear-gradient(270deg, rgba(237,235,235,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%); 
    background: linear-gradient(180deg, rgba(237,235,235,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEBEB', endColorstr='#ffffff',GradientType=0 ); 
}

.row2 ul.largenav li.upper-links {
    width: 16%;
    text-align: center;
}


.row2 ul li li:hover{
    width: 100%;
}

.row2 a {
    color: #0032ac;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-hr {
    border: 0;
    border-top: 5px solid #0032ac;
    display: block;
    height: 1px;
    margin: 0px 0 15px 0;
    padding: 0;
    width: 100%;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Avenir', sans-serif;
    letter-spacing: 0;
    color: black;
    border: none

}

#flipkart-navbar .dropdown {
    height: 20px;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}

#flipkart-navbar .dropdown:hover {
    text-decoration: none;
}

#flipkart-navbar .dropdown:hover .links {
    border-bottom: 5px solid #129DC3;
}

#flipkart-navbar .dropdown:hover .dropdown-menu {
    display: block;
}

#flipkart-navbar .dropdown .dropdown-menu {
    position: absolute;
    top: 138%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    min-width: 290px
}

.largenav {
    display: none;
}

.smallnav {
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

#flipkart-navbar > div > div.row.row1 > div.col-md-6.corner-links > div > li:nth-child(2){
    margin: -5px 65px 0 0;
    margin-right: 65px;
}


@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
    #mobile-nav, #mobile-nav-header{
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .largenav, .corner-links, .row1 {
        display: none;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/* MOBILE NAVBAR */
.navbar-toggle .icon-bar {
    background-color: #0032ac;
    width: 33px;
    height: 4px;
}

.navbar-toggle {
    padding: 35px 27px;
}

#nav-logo {
    width: 222px;
    padding-left: 35px;
}

#mobile-nav a{
    font-family: 'Lato', sans-serif;
    font-size: 23px !important;
    font-weight: bold; 
    color: #0032ac;
    text-align: center;
}

#mobile-nav ul ul a {
      color: #129DC3;
      font-size: 18px;
}
